.logo{
    color: #070a4f;
    font-weight: bold;
    vertical-align: middle;
    font-size: 21px;
    padding: 0;
    margin: 0 0 0 -20px;
    display: inline-block;
    cursor: pointer;
}
.logoheart{
    width: 80px;
    vertical-align:middle;
    margin-top: -8px;
    display: inline-block;
}
.abbbt{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -30px 0 0;
    vertical-align: middle;
    margin-left: 150px;
}
.about{
    color: black;
    background-color: white;
    border:none;
    width: 80px;
    font-size: 19px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: -5px;

}
.services{
    color: black;
    background-color: white;
    border:none;
    width: 80px;
    font-size: 19px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: -5px;

}
.about:hover{
    opacity: 0.8;
    color: orangered;
}
.about:active{

}

.services:hover{
    opacity: 0.8;
    color: orangered;
}
.services:active{

}
.credentials{
    position: absolute;
    top: 8px;
    right: 16px;
}

.loginbutton{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    border-style: none;
    background-color: white;
    margin-bottom: 4px;
    cursor: pointer;

}
.registerbutton{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    border-style: none;
    background-color: white;
    margin-bottom: 4px;
    cursor: pointer;


}
.loginbutton:hover{
    color: orangered;
    opacity: 0.8;
}

.registerbutton:hover{
    color: orangered;
    opacity: 0.8;
    border-color: orangered;
    border-bottom: black;
}

.middlepara{
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    flex: content;
    width: 820px;


}
.para1{
    font-family: "Adobe Heiti Std R";
    color: mediumpurple;
    font-size: 30px;
    margin-bottom: 60px;
}
.para2{
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
}
.para3{
    font-size: 18px;
    width: 630px;
    color: darkgreen;
    text-align: center;
    margin-left: 90px;
}
.gifambulance{
    position: absolute;
    top: 300px;
    right: 16px;
    width: 700px;
    margin-top: -120px;
    margin-right: 50px;
    border-color: mediumpurple;
    border-radius: 9px;
}

